doctype html
// saved from url=(0046)http://packetcode.com/apps/facebook-like-chat/
html.gr__packetcode_com(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='http://packetcode.com/apps/facebook-like-chat/facivon.ico')
    title Facebook like chat
    link(href='./files/style.css', rel='stylesheet')
    script(src='./files/jquery-1.10.1.min.js.download')
    script(src='./files/script.js.download')
    style.
      body {
      background-image: url("Capture.JPG");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      }
  body(data-gr-c-s-loaded='true', data-feedly-mini='yes')
    .chat_box
      .chat_head  SBI ChatSmart
      .chat_body(style='display: none;')
        iframe(width='245', height='400', src='https://console.api.ai/api-client/demo/embedded/91c6f4a7-e6e8-45d6-94e0-54179ee173e7')
    .msg_box(style='right: 290px; display: none;')
      .msg_head
        | Krishna Teja
        .close x
      .msg_wrap(style='display: none;')
        .msg_body
          .msg_a This is from A	
          .msg_b This is from B, and its amazingly kool nah... i know it even i liked it :)
          .msg_a Wow, Thats great to hear from you man 
          .msg_b LOL
          .msg_push
        .msg_footer
          textarea.msg_input(rows='4')
    #feedly-mini(title='feedly Mini tookit')
